<section th:fragment="orders">
  <h1 class="brand-font mb-4">Управление заказами</h1>

  <div class="table-responsive">
    <table class="table table-borderless">
      <thead class="border-bottom border-secondary">
      <tr>
        <th>ID</th>
        <th>Товар</th>
        <th>Размер</th>
        <th>Клиент</th>
        <th>Номер</th>
        <th>Дата</th>
        <th>Адрес</th>
        <th>Вставки</th>
        <th>Гравировка</th>
        <th>Комментарий</th>
        <th>Сумма</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr class="border-bottom border-secondary" th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td>
          <div class="d-flex align-items-center">
            <img th:src="${order.product.imageUrl}"
                 style="width: 50px; height: 50px; object-fit: cover; border-radius: 12px;"
                 class="me-3">
            <span th:text="${order.product.name}"></span>
          </div>
        </td>
        <td th:text="${order.size}"></td>
        <td>
          <div class="d-flex flex-column">
            <span th:text="${order.customerName}"></span>
          </div>
        </td>
        <td>
          <span th:text="${order.phone}"></span>
        </td>
        <td th:text="${#temporals.format(order.orderDate, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${order.address}"></td>
        <td th:text="${order.insertion}"></td>
        <td th:text="${order.engraving}"></td>
        <td th:text="${order.comment}"></td>
        <td th:text="${order.totalPrice} + ' ₽'"></td>
        <td>
          <a th:href="@{'/admin/orders/' + ${order.id} + '/delete'}"
             class="btn btn-outline-danger btn-sm">Удалить</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>